/*universal styles*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: lightgray;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
}

/*header section*/

header {
  background-color: white;
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  display: block;
}

.logo img {
  height: 48px;
  margin-left: 24px;
}

.logotext {
  font-size: 32px;
  font-family: "Roboto";
}

.logotext span {
  font-weight: bold;
  letter-spacing: 2px;
}

#logo {
  font-weight: 300;
}

nav {
  width: 100%;
  text-align: right;
  margin-right: 24px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  margin-left: 8px;
}

/*banner section*/

.banner-box {
  display: flex;
  margin-top: 32px;
  width: 100%;
  margin: 32px 24px;
}

.banner-img {
    width: 60%;
}

.banner-img img {
  width: 100%;

}

.banner-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.banner-text {
  margin-left: 24px;
}

.banner-text h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.5;
}

.banner-text h2 {
  font-size: 24px;
  line-height: 1.2;
}

.banner-button {
  width: 100%;
}

.banner-info button {
  padding: 24px;
  font-size: 1rem;
  width: 100%;
  margin-left: 24px;
  margin-top: 24px;
  background-color: black;
  color: white;
  font-weight: bold;
}

/*campus information*/

.infoColor {
  background-color: rgb(243, 245, 245);
}

.information {
  width: 60%;
  margin-right: 24px;
  margin-top: 24px;
}

.information-img {
  width: 100%;
}

.information-img img {
  width: 100%;
}

.information-text {
  margin-top: 24px;
}

.information-text h1 {
  margin-bottom: 24px;
  font-size: 42px;
  font-weight: 700;
}

.information-text p {
  line-height: 1.2;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 24px
}

.campus-info {
  width: auto;
  width: 38%;
  margin-top: 24px;
  display: flex;
  flex-flow: column;
}

.info-box {
  display: flex;
  justify-content: center;
  align-content: center;
  border-bottom: 0.2px solid gray;
  border-top: 0.2px solid gray;
  margin-bottom: 5px;
  border-left: 0.2px solid gray;
}

.info-img {
  width: 35%;
}

.info-img img {
  width: 100%;
}

.info-text {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-content: center;
  width: 60%;
  margin-left: 15px;
}

.info-text h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.info-text p {
  font-size: 1.1rem;
}

.info-text a {
  text-decoration: none;
  color: blue;
}
